.main .cntr-part {
  position: absolute;
  margin-top: 26.7vw;
  width: 54.4vw;
  height: auto;
}
.main .cntr-part a {
  display: block;
  text-align: left;
  text-decoration: none;
  font-size: 4.6vw;
  font-family: 'Geometria-Medium', sans-serif;
  color: #14FF00;
  margin-bottom: 2.2vw;
}
.main .cntr-part a:nth-of-type(3) {
  margin-bottom: 0vw;
}
