@import "main.css";

body {
  background: #7C00D2;
}

.main {
  background: #7C00D2;
  color: #14FF00;
}
.main .cntr-part {
  position: absolute;
  margin-top: 7vw;
  width: 54.4vw;
  height: auto;
}
.main .cntr-part p {
  display: block;
  text-align: left;
  text-decoration: none;
  font-size: 3.3vw;
  font-family: 'Geometria-Medium', sans-serif;
  color: #14FF00;
  margin-bottom: 2.2vw;
}
.main .bttm-part {
  width: 71.1vw;
  position: absolute;
  margin-top: 33vw;
  right: 6.7vw;
}
.main .bttm-part div {
  width: 71.9vw;
  height: 107.4vw;
  margin-bottom: 4.4vw;
  position: absolute;
}
.main .bttm-part .frst-page {
  background: url('../img/page/catalogue.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.main .bttm-part .scnd-page {
  background: url('../img/page/catalogue2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 1024px){
  .main .cntr-part {
    bottom: 2.5vw;
    left: 2.5vw;
    width: 23vw;
  }
  .main .cntr-part p {
    font-size: 1.5vw;
    margin-bottom: 0.6vw;
  }
  .main .bttm-part {
    width: 62.9vw;
    right: 2.5vw;
    margin-top: 0;
  }
  .main .bttm-part div {
    width: 31vw;
    height: 43.9vw;
    margin-bottom: 4.4vw;
    right: 2.5vw;
  }
}
