@import "reset.css";
@import "fonts.css";
@import "menu.css";
@import "about.css";


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 100vh;
  background: #7C00D2;
  padding: 6.7vw;
  color: #14FF00;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .top-part,
.main .bttm-part {
  width: 86.6vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main .top-part h1 {
  font-family: 'Geometria-Heavy', sans-serif;
  font-size: 11vw;
  line-height: 81.2%;
}
.main .top-part .bttn-menu {
  width: 11vw;
  height: 5.4vw;
}
.main .bttm-part {
  font-family: 'Geometria-Medium', sans-serif;
}
.main .bttm-part .description {
  width: 40vw;
  font-size: 4.4vw;
  line-height: 89.2%;
}
.main .bttm-part .bttn-container {
  position: absolute;
  bottom: 6.7vw;
  right: 6.7vw;
}
.main .bttm-part .bttn-container div {
  width: 25.7vw;
  height: 8.8vw;
  font-size: 3.3vw;
  background: #14FF00;
  color: #7C00D2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50vw;
}
.main .bttm-part .bttn-container .pause {
  margin-bottom: 2.2vw;
}
