@import "reset.css";
@import "fonts.css";


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 100vh;
  padding: 6.7vw;
  font-family: 'Geometria-Medium', sans-serif;
}
.main .top-part {
  width: 86.6vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main .top-part h1 {
  font-family: 'Geometria-Heavy', sans-serif;
  font-size: 11.1vw;
}
.main .top-part .bttn-menu {
  width: 11.1vw;
  height: auto;
}
.main .text {
  width: 40vw;
  line-height: 89.2%;
  font-size: 3.3vw;
}
