@import "reset.css";
@import "fonts.css";


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 100vh;
  padding: 6.7vw;
  font-family: 'Geometria-Medium', sans-serif;
}
.main .top-part {
  width: 86.6vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
}
.main .top-part h1 {
  font-family: 'Geometria-Heavy', sans-serif;
  font-size: 11.1vw;
}
.main .top-part .bttn-menu {
  width: 11.1vw;
  height: auto;
}
.main .text {
  width: 40vw;
  line-height: 89.2%;
  font-size: 3.3vw;
}

@media (min-width: 1024px){
  .main {
    padding: 2.5vw;
  }
  .main .top-part {
    width: 95vw;
  }
  .main .top-part h1 {
    font-size: 3.75vw;
  }
  .main .top-part .bttn-menu {
    width: 5vw;
  }
  .main .text {
    width: 34.4vw;
    font-size: 1.5vw;
  }
}
