@import "main.css";

.main {
  background: #14FF00;
  color: #7C00D2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .top-part .bttn-close {
  width: 10.7vw;
  height: 10.7vw;
  position: absolute;
  right: 6.7vw;
  top: 6.7vw;
}
.main .cntr-part{
  position: absolute;
}
.main .cntr-part a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 8.9vw;
  color: #7C00D2;
  margin-bottom: 4vw;
}
.main .cntr-part a:nth-of-type(5){
  margin-bottom: 0vw;
}

@media (min-width: 1024px){
  .main .top-part .bttn-close {
    width: 3.8vw;
    height: 3.8vw;
    right: 2.5vw;
    top: 2.5vw;
  }
  .main .cntr-part a {
    font-size: 3.3vw;
    margin-bottom: 2.5vw;
  }
}
