@import "main.css";

body {
  background: #7C00D2;
}

.main {
  background: #7C00D2;
  color: #14FF00;
}
.main .cntr-part {
  position: absolute;
  margin-top: 7vw;
  width: 54.4vw;
  height: auto;
}
.main .cntr-part p {
  display: block;
  text-align: left;
  text-decoration: none;
  font-size: 5.6vw;
  font-family: 'Geometria-Medium', sans-serif;
  color: #14FF00;
  margin-bottom: 2.2vw;
}
.main .cntr-part p:nth-of-type(3) {
  margin-bottom: 0vw;
}
.main .bttm-part {
  width: 71.1vw;
  position: absolute;
  margin-top: 33vw;
  right: 6.7vw;
}
.main .bttm-part div {
  width: 71.1vw;
  height: 107.4vw;
  margin-bottom: 4.4vw;
}
.main .bttm-part .first-item {
  background: url('../img/items/1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.main .bttm-part .second-item {
  background: url('../img/items/2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.main .bttm-part .third-item {
  background: url('../img/items/3.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.main .bttm-part .fourth-item {
  background: url('../img/items/4.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 1024px){
  .main .cntr-part {
    bottom: 2.5vw;
    left: 2.5vw;
    width: 23vw;
  }
  .main .cntr-part p {
    font-size: 2.3vw;
    margin-bottom: 0.6vw;
  }
  .main .bttm-part {
    width: 73vw;
    margin-top: 9.5vw;
    right: 2.5vw;
  }
  .main .bttm-part div {
    width: 22.9vw;
    height: 34.6vw;
    margin-bottom: 1vw;
    display: inline-block;
    margin-left: 1vw;
  }
  .main .bttm-part div:nth-last-of-type(3) {
    margin-right: 0;
  }
}
