@import "main.css";

.main {
  background: #7C00D2;
  color: #14FF00;
}
.main .cntr-part {
  position: absolute;
  margin-top: 7vw;
  width: 54.4vw;
  height: auto;
}
.main .cntr-part a {
  display: block;
  text-align: left;
  text-decoration: none;
  font-size: 5.6vw;
  font-family: 'Geometria-Medium', sans-serif;
  color: #14FF00;
  margin-bottom: 2.2vw;
}
.main .cntr-part a:nth-of-type(3) {
  margin-bottom: 0vw;
}
.main .text {
  width: 54.4vw;
  height: auto;
  position: absolute;
  bottom: 6.7vw;
  right: 6.7vw;
  line-height: 89.2%;
}
.main .bttm-part {
  width: 54.4vw;
  height: 111vw;
  position: absolute;
  right: 6.7vw;
  bottom: 6.7vw;
}
.main .first {
  background: url('../img/p-poster-1.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.main .second {
  background: url('../img/p-poster-2.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.main .bttm-part a {
  display: block;
  width: 54.4vw;
  height: 111vw;
  position: absolute;
}
